* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20%;
    min-height: 100vh;
    background-color: #4680f5;
    color: #ffffff;
    margin: 0;
}

header {
    font-size: 25px;
}

.container {
    text-align: center;
    background-color: #2c09f5;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#cronometro {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #77fa3b;
}

.botoes button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#botaoIniciarParar {
    background-color: #00d8ff;
    color: #282c34;
}

#botaoResetar {
    background-color: #ff4b5c;
    color: #ffffff;
}

.botoes button:hover {
    opacity: 0.8;
}

.botoes button:active {
    transform: scale(0.98);
}

footer {
    margin-top: auto;
    padding-bottom: 60px;
    text-align: center;
}